@tailwind base;
@tailwind components;
@tailwind utilities;

.input,
.select {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  color: #dcddde;
  background-color: #2f3136;
  font-size: 1rem;
}

.input:focus,
.select:focus {
  outline: none;
}

.input::placeholder,
.select::placeholder {
  color: #b9bbbe;
}

.input.no-spinner::-webkit-outer-spin-button,
.input.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input.no-spinner[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
